<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="App1._2.Properties.Settings.MyBDConnectionString"
            connectionString="Data Source=MYPC\SQLEXPRESS;Initial Catalog=MyBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="App1._2.Properties.Settings.FirmaBDConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\FirmaBD.mdb"
            providerName="System.Data.OleDb" />
        <add name="App1._2.Properties.Settings.FirmBDConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\FirmBD.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>